{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %} New Topic {% endblock %}
{% block breadcrumb %}


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{% url 'topics' board.id %}">Topics</a></li>
  </ol>
</nav>

{% endblock %}

{% block content %}

    <!--Figure 7: New topic screen-->

    <div class="container">
      <h2>New Topic</h2>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4" >Post a new topic in {{ board.name }} discussion board.</legend>
              {{ topic_form | crispy }}
              {{ post_form | crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Post New Topic</button>
          </div>
      </form>
      </div>
    
{% endblock %}
