{% extends 'base.html'%}
{% load humanize %}
{% block title %} Posts {% endblock %}
{% block breadcrumb %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{% url 'topics' topic.board.id %}">{{ topic.board.name }}</a></li>
    <li class="breadcrumb-item">{{ topic.subject }}</li>
  </ol>
</nav>

{% endblock %}

{% block content %}

    <!-- Topic posts listing screen-->

    <div class="container">
        <h2 class="mt-5">{{ topic.subject }}'s posts</h2>
        <a class="btn btn-primary" href=" {% url 'reply_post' topic.id %}" role="button">Reply</a>
        {% if posts %}
            {% for post in posts %}

                <div class="p-4 my-3 card">
                    <div class="row">
                        <div class="p-2 col-sm-1">
                            <img src="{{ post.created_by.profile.image.url }}" class="card-img-top rounded-circle">
                            <div class="badge badge-pill badge-success text-wrap">
                                {{ posts_created_by }} Posts
                            </div>
                        </div>
                        <div class="p-2 col-sm-11">
                            <div class="d-flex justify-content-between">

                                <p class="card-title font-weight-bold">{{ post.created_by.first_name }} {{ post.created_by.last_name }}</p>

                                <p class="font-weight-light">{{ post.updated_at | naturaltime }}</p>
                            </div>
                            <p class="card-text">{{ post.message }} </p>
                            {% if request.user.id == post.created_by.id %}
                                <a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}