{% extends 'base.html'%}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %} Boards {% endblock %}
{% block breadcrumb %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{% url 'index' %}">Boards</a></li>
  </ol>
</nav>

{% endblock %}

{% block content %}
    <!-- Content here -->
    <div class="container">
        <h1 class="mt-5">Logout</h1>
            <p class="text-left">You have logged out.</p>
            <div class="border-top  py-3 ">
                <small class="text-muted">
                    Want to log back in? <a href="{% url 'login' %}" class="ml-2">Log In!</a>
                </small>
            </div>
    </div>

    
{% endblock %}